<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.afeng.web.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.afeng.web.servlet.HelloServlet</servlet-class>
</servlet>
    <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
</servlet-mapping>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.afeng.web.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActiveServlet</servlet-name>
        <servlet-class>com.afeng.web.servlet.ActiveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActiveServlet</servlet-name>
        <url-pattern>/active</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/userServlet</url-pattern>
    </servlet-mapping>

</web-app>
